In [17]:
#Q1
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isnull().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [4]:
#Q2
print(df.shape)
# Based on the conversation with GPT, an obvservation is analogous to a row of the table, i.e, an individual point of data.
# A variable, on the other hand, refers to a column, in the sense that each column describes a certain aspect, or quality of each data point.

(391, 11)

In [5]:
#Q3
print(df.describe())
df.dtypes
df["personality"].value_counts()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [13]:
#Q4
url2 = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df2 = pd.read_csv(url2)
df2.isnull().sum()
print(df2.describe(include="all"))
# Since describe calculates many statistics based off of the data, it couldn't possibly have a way to handle missing data, so it skips those lines.
print(df2.shape)
# Shape, on the other hand, just contains the value of the size of the dataframe, and has nothing to do with the data therein.

          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
(891, 15)

In [7]:
#Q5
# An attribute serves the prupose of storing data specific to an instance of an object, and referencing that attribute doesn't change the object.
# A method is a function specific to the object class, and has access to the attributes of said object.

Chat log for pre-lecture questions: https://chatgpt.com/share/48f649fa-569d-4b01-bd1a-de20ee8c9f28

Summary (generated by GPT):

Importing a Dataset:

    You asked about importing a dataset from the URL "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv".
    I explained how to load the dataset using Python and pandas, and provided code to check its shape (rows and columns). While I could not directly access the URL, I shared a Python snippet to do this in your environment:

    python

    import pandas as pd
    url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
    df = pd.read_csv(url)
    print(df.shape)

Definition of Observations:

    You asked what "observations" are in the context of your dataset.
    I explained that observations are the individual entries or rows in your dataset. For example, each row in your villagers dataset likely represents one unique villager, with columns providing details (like name, species, birthday, etc.).

Summarizing Dataset Columns:

    You wanted to know how to provide simple summaries of the columns in your dataset.
    I provided a list of common Python functions using pandas to summarize columns, including:
        df.describe(): For summary statistics of numerical columns.
        df.describe(include='all'): For both numerical and categorical columns.
        df.dtypes: To display the data types of each column.
        df['column_name'].value_counts(): To see the distribution of values in a categorical column.
        df.isnull().sum(): To check for missing values.
        Full code snippet shared for your use.

Difference Between Attributes and Methods in Python:

    You asked about the difference between an attribute and a method in Python.
    I explained that:
        Attributes are variables that hold data or state for an object (e.g., name, age).
        Methods are functions associated with an object that perform actions (e.g., greet()).
    Example code was provided to illustrate these concepts.

In [6]:
#Q6
# count describes the number of rows being looked at by df.describe() (rows with empty values are discarded)
# mean calculates the mean average of all numeric values of the column, (a+b+c+...)/n
# std calculates the standard deviation, which is the square root of the variance
# min is the minimum value of the column's dataset
# 25%, 50%, and 75% are the values which sit at the first, second, and third quartiles, respectively.
# max is the maximum value of the column's dataset

In [8]:
#Q7
#1
# dropna() is better when the missing data is sporadic, congregating on a case-by-case basis, e.g when an individual observation failed in some manner, one will see many NANs.
#2
# del df[col] is better when the issue is inherent to the category, e.g. "When were you married" would have an abundance of NANs.
#3
# when considering both options for expunging missing data, it's important to use del df[col] first, since otherwise you could lose an unnecessary amount of data.
# Consider the number of observations (rows) that would be removed by dropna, if not for removing the missing value associated with the variable 'col' beforehand.
#4
# using isnull().sum(), we find that df has only 12 instances of missing values, compared to its 391 rows.
df.isnull().sum()
df.shape
# thus, using del df['col] would remove 391 points of data, whereas .dropna() would remove a maximum of 12 observations = 12*11 = 132 data points
df_new=df.dropna()
df_new.shape
# the results confirm it^

(379, 11)

Chat log for questions 6 and 7: https://chatgpt.com/share/48f649fa-569d-4b01-bd1a-de20ee8c9f28

Summary (generated by GPT):

    Understanding del df['col']:
        You asked about the function of del df['col'] in Python.
        I explained that this statement deletes a specified column ('col') from a pandas DataFrame in-place, meaning the column is permanently removed.
        I provided an example where the age column is removed from a sample DataFrame using del df['age'].

This summary highlights the recent discussion on how to delete a column from a DataFrame in Python.

In [24]:
#Q8
#1
# df2.groupby("sex")["age"].describe() will group the observations in df2 together based on their value for the "sex" variable. Then, ["age"].describe() will display statistics on the age of the observations, grouped by "sex".
df2.groupby("sex")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [23]:
#Q8
#2
# the meaning of "count" in this context is a different, since the scope of the stastics being gathered is different.
# If the first category in groupby were a highly missing category, for example, and the describe method would be acting on a subset of the data sample, and thus only usable to make statements about that specific subsample.
#3A: A tie! Both Google and GPT reveal almost immediately the necessary fix, but GPT was more descriptive and verbose, and StackOverflow was direct but less accesible to beginner internet users.
#3B: GPT was better at detecting a spelling error, especially considering I copied the whole error block into the chat. Of course, good coders dont make spelling errors, they copy+paste! Again, perhaps useful for beginners.
#3C: Yet again, GPT prevailed. And yet again, it comes most in handy when I (the user) failed to read the message which clearly and succinctly highlighted the issue. Every time I copy stuff into chat, I feel myself getting dumber and less willing to look into problems.
#3D: Perhaps if english was not my first language, GPT was helpful here. Otherwise, the error message telling me my parenthesis was left unclosed should suffice. Google of course returned people's niche problems unrelated to the general case.
#3E: Both google and GPT returned results, but naturally, GPT was more tolerant of extra gargabe. With google, one must activate the frontal cortex and formulate a sentence describling the issue, and in the process very often uncover what the solution was the whole time.
#3F: I prefer GPT for this one, since the meaning of a KeyError was not immediately obvious to me.
#3G: GPT was faster at finding the issue, especially helpful if you know next to no Python, and are unfamiliar with the most basic errors. Google, as usual, works too, requiring proper phrasing: "What is the [error name] error in Python?"

Chat log for question 8: https://chatgpt.com/share/2d4a149f-fa8e-4ad9-a79e-3baf3027b8ca

Summary (generated by GPT):

Summary of Exchanges

1. Understanding df.groupby("col1")["col2"].describe():

    Question: What does df.groupby("col1")["col2"].describe() do?
    Answer: It groups the DataFrame df by the column "col1" and then provides descriptive statistics for the column "col2" within each group.

2. Error: KeyError: 'sex':

    Issue: Encountered a KeyError when using df.groupby("sex")["age"].describe().
    Solution: Suggested verifying column names, checking for case sensitivity, and ensuring the column "sex" exists in the DataFrame.

3. Error: NameError: name 'pd' is not defined:

    Issue: NameError indicating that pd was not defined.
    Solution: Advised to import pandas with import pandas as pd.

4. Error: HTTPError: HTTP Error 404: Not Found:

    Issue: HTTPError when trying to read a CSV file from a URL.
    Solution: Corrected the URL to https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv.

5. Error: SyntaxError: '(' was never closed:

    Issue: Syntax error due to an unclosed parenthesis.
    Solution: Ensured that all parentheses are correctly closed in the code.

6. Error: AttributeError: 'DataFrame' object has no attribute 'group_by':

    Issue: Used group_by instead of groupby.
    Solution: Corrected the method to groupby.

7. Error: KeyError: 'Sex':

    Issue: KeyError for the column "Sex", suggesting the column might be named differently.
    Solution: Recommended checking column names and case sensitivity, and converting column names to lowercase if necessary.

8. Error: NameError: name 'sex' is not defined:

    Issue: Used sex without quotes, which caused a NameError.
    Solution: Advised to use "sex" (with quotes) to refer to the column name correctly.